<div class="row"> 
  <div class="col-6" style = " text-align: left ">
    <h2>Administrar Roles</h2>
  </div>
  <div class="col-6" style = " text-align:right; vertical-align: middle; padding-top: 4px;   ">
				<button class="btn btn-secondary"  [routerLink] = "['/rol-editar', 0]" > Nuevo </button>
	</div>
</div>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <th scope="col">Id</th>
      <th scope="col">Descripción</th>
      <th scope="col">Sección</th>
      <th scope="col">Activo</th>
      <th scope="col">Acciones</th>
    </thead>
    <tr *ngFor='let rol of roles'>
      <td>{{rol.id}}</td>
      <td>{{rol.description}}</td>
      <td>{{rol.section}}</td>
      <td>
        <div *ngIf="rol.locked == 'true'">No</div> 
        <div *ngIf="rol.locked == 'false'">Si</div> 
      </td>
      <td>
        <a [routerLink] = "['/rol-editar', rol.id]">
          <input type="image" height="15" width="15" src="assets/icons/edit.png" alt="Editar" />
        </a>
        &nbsp;
        
          <input type="image" (click)="deleteRol(rol.id)" height="15" width="15" src="assets/icons/borrar.png" alt="Eliminar" />
  </td>
    </tr>
  </table>
</div>

