
<div class="container">
  <h2>Editar Empleado</h2>
</div>
<form #employeeForm="ngForm" class="form-horizontal">  
  <div class="row">
    <div class="col-2">
      <label for="names" ><strong>Nombres: </strong></label>
    </div>
    <div class="col-9">
      <input type="text" name="$names" #$names="ngModel" [(ngModel)]="employee.names" class="form-control" placeholder="Nombres" value="{{employee.names}}" id="names">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label for="lastnames" ><strong>Apellidos: </strong></label>
    </div>
    <div class="col-9">
      <input type="text" name="$lastNames" #$lastNames="ngModel" [(ngModel)]="employee.lastNames" class="form-control" placeholder="Apellidos" value="{{employee.lastNames}}" id="lastnames">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label for="documentType" ><strong>Tipo de documento: </strong></label>
    </div>
		<div class="col-9">
			<select name="$documentType" #$documentType="ngModel" [(ngModel)]="employee.documentType" class="form-control" placeholder="Tipo de Documento" value="{{employee.documentType}}" id="documentType"> 
				<option *ngFor="let type of documentsType" [value]="type" [selected]="type == employee.documentType"> {{type}} 
				</option> 
			</select> 
		</div>			
  </div>
  <div class="row">
    <div class="col-2">
      <label for="document" ><strong>Nº de documento: </strong></label>
    </div>
    <div class="col-9">
      <input type="text" name="$document" #$document="ngModel" [(ngModel)]="employee.document" class="form-control" placeholder="Documento" value="{{employee.document}}" id="document">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label for="phone" ><strong>Telefono: </strong></label>
    </div>
    <div class="col-9">
      <input type="text" name="$phone" #$phone="ngModel" [(ngModel)]="employee.phone" class="form-control" placeholder="phone" value="{{employee.phone}}" id="phone">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label for="emailCompany" ><strong>Correo Electrónico: </strong></label>
    </div>
    <div class="col-9">
      <input type="text" name="$emailCompany" #$emailCompany="ngModel" [(ngModel)]="employee.emailCompany" class="form-control" placeholder="emailCompany" value="{{employee.emailCompany}}" id="emailCompany">
    </div>
  </div>
<div class="row">
  <div class="col-2">
    <label><strong>Activo:</strong></label>
  </div>
  <div class="col-9">
    <input type="checkbox" name="$activo" [(ngModel)]="activo" [checked] ="employee.locked == 'false'" />
  </div>
</div>	
<div class="row">
  <div class="col-4" style = "text-align: right">
    <button class="btn btn-primary" type="submit" (click)="saveEmployee(employee)"> Guardar </button> &nbsp;
  </div>
  <div class="col-4">
    <button class="btn btn-primary" [routerLink]="['/empleados']"> Cancelar </button>
  </div>
 </div>
</form>	