
<div class="container">
	<h2>Editar Rol</h2>
</div>
	
<form #rolForm="ngForm" class="form-horizontal">  
	<div class="row">
		<div class="col-1">
			<label for="sectionList"> <strong>Sección: </strong></label>
		</div>
		<div class="col-9">
			<select name="$section" #$sectionList="ngModel" class="form-control"  [(ngModel)]="rol.section" id="sectionList" placeholder="Sección"> 
				<option *ngFor="let section of sections" [value]="section" [selected]="section == rol.section"> {{section}} 
				</option> 
			</select> 
		</div>			
	</div>
	<div class="row">
		<div class="col-1">
			<label for="descripcion" ><strong>Rol: </strong></label>
		</div>
		<div class="col-9">
			<input type="text" name="$description" #$description="ngModel" [(ngModel)]="rol.description" class="form-control" placeholder="Descripción" value="{{rol.description}}" id="descripcion">
		</div>
	</div>
    <div class="row">
		<div class="col-1">
			<label><strong>Activo:</strong></label>
		</div>
		<div class="col-9">
			<input type="checkbox" name="$activo" [(ngModel)]="activo" [checked] ="rol.locked == 'false'" />
		</div>
	</div>	
	<div class="row">
		<div class="col-10">
			<label><strong>Opciones:</strong></label>
		</div>
		<div class="col-3" *ngFor="let permission of permissions">
				<label >
					<input type="checkbox" name="${{permission.id}}"  (change)="onChangePermission($event, permission)" value="{{permission.id}}"  [checked]="getChecked(permission.state)"/> {{permission.name}}
				</label>
		</div>
	</div>
	<div class="row">
		<div class="col-4" style = "text-align: right">
			<button class="btn btn-primary" type="submit" (click)="saveRol(rol)">Guardar</button> &nbsp;
		</div>
		<div class="col-4" >
			<button class="btn btn-primary" [routerLink]="['/roles']">Cancelar</button>
		</div>
   </div>
</form>	



